<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center p-5">
          <h1>URL Shortener</h1>
        </div>
      </div>

      <!-- input search form -->

      <form action="/create" method="POST">
      <div class="row">
        <div class="input-group mb-3 mx-auto">
          <input
            type="url"
            class="form-control"
            placeholder="Paste your URL"
            aria-label="URL"
            name="longurl"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            value="submit"
            id="button-addon2"
          >
            Submit
          </button>
        </div>
    </div>
    </form>
      
    <!-- saved URLs from the DB -->

    <div class="row">
<% for (let i=0; i< urlResult.length; i++){
    %>
          <div class="col-lg-3">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">URLs</div>
                <div class="card-body text-success">
                  <h5 class="card-title"><span class="font-weight-bold font-monospace">Shortened URL: </span> 
                    <a href="http://localhost:5000/<%= urlResult[i].shortUrl %>" target="_blank">http://localhost:5000/<%= urlResult[i].shortUrl %></a>  
                    </h5>
                  <p class="card-text"><span class="font-weight-bold font-monospace">Main URL: </span><span class="text-primary"><%= urlResult[i].longUrl %> </span> </p>
                 <a href="/delete/<%= urlResult[i].id %> " class="btn btn-sm btn-danger font-monospace">Delete</a>
                </div>
          </div>
      </div>
      <%}
          %>
    </div>
 
    <!-- Bootstrap Bundle with Popper.js -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
      integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
